NUXT_API_BASE=http://localhost:5003/api/v3
NUXT_PUBLIC_API_BASE=/api/v3

NUXT_OIDC_ISSUER=http://localhost:5010/oidc
NUXT_OIDC_CLIENT_ID=consumer-web
NUXT_OIDC_REDIRECT_URI=http://localhost:3628/auth/callback
NUXT_OIDC_SCOPES=openid profile email offline_access
NUXT_PUBLIC_CDN_HOST=https://images.yurari.moe/
NUXT_PUBLIC_IMAGE_PROCESSOR_HOST=https://imagesp.yurari.moe
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_OG_SERVICE_URL=http://localhost:5020
